
# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

# test coverage
.coverage
cover/
htmlcov/

# IDE
.idea


# Ipython Notebook checkpoints
.ipynb_checkpoints

# Ipython Notebook
.ipynb

# envs
.venv
.vscode
.github
.git
.secret
env/
server.py
s_wsgy.py
.env_dev
vocabseditor/settings/pg_local.py
.env_secret
media/uploads/*.rdf
media/uploads/*.ttl
Untitled.ipynb
