
# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

# test coverage
.coverage
cover/
htmlcov/

# IDE
.idea

# migrations
vocabs/migrations/*
webpage/migrations/*


# Ipython Notebook checkpoints
.ipynb_checkpoints

# Ipython Notebook
.ipynb

# envs

env/
server.py
s_wsgy.py
.env_dev
