Django>=4.0.5,<5
django-autocomplete-light==3.9.4
django-crispy-forms==1.14.0
django-filter==22.1
django-guardian==2.4.0
django-mptt==0.13.4
djangorestframework>=3.13.1,<4
django-reversion==5.0.1
django-tables2==2.4.1
drf-yasg==1.20.0