{% extends "vocabs/plain_for_delete.html" %}
{% block content %}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <h3 class="modal-title">Confirm delete</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="post">{% csrf_token %}
                    <h4>Are you sure you want to delete :<br /> <strong>{{ object }}</strong> ?</h4><br />
                    <a href="javascript:history.back()"><input class="btn btn-default" type="button" value="cancel"/></a>
                    <input  class="btn btn-danger" type="submit" value="yes, I want to delete" />
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>
{% endblock scripts %}
