@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*remove round corners everywhere*/
/** {
  border-radius: 0 !important;
}*/

header {
    flex: 0 0 auto;
}

.main-content{
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    left: 0;
    right: 0;
    margin-top: 20px;
}


.card {
	border-top: 5px solid #88dbdf;
	overflow: hidden;
}

a, .btn-link {
    /*color: #88dbdf;*/
    /*color: #3b89ad;*/
    color: #1796d1;
}
.help-block {
	font-size: 0.9em;
}
.create-label {
	font-weight: 700;
}
.control-label {
    font-weight: 700;
}
.index-btn-group {
  margin-top: 50px;
}

.index-btn {
  margin: 10px;
}
/* override select2 css for select FK and select M2M */

.select2 {
  width: 100% !important; /* overrides computed width */
}
.select2-container--default .select2-selection--single {
    height: 38px !important;
}
/*#div_id_top_concept > label {
    font-weight: 700;
}*/

#workflow > img {
   display: block;
   margin: auto auto;
   width: 80%;
}

#main_accordion > .panel >.panel-heading {
  margin: 15px 15px 15px 15px;
}
textarea {
  /*height: 38px;*/ /*one line*/
  height: 150px;
}


/*fixing the height of select2multiple field, overring fundament*/

.modelselect2multiple, .select2multiple, .select2-selection--multiple {
  padding: 0;
}

/*---------- css for dynamic forms ----------*/
.add-row {

}
.delete-row {
 
}
.dynamic-form {
  margin-bottom:20px;
  /*padding-bottom:20px;*/
  border-bottom:1px dotted #ccc;
}

.formset-div {
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
}
/*---------------------------------------------*/

.card-collapse {
  border-top: none;
}

/*to override a django's feature to capitalize a first character of a field's verbose name */
label:first-letter {
    text-transform: lowercase;
}

/*loader for file import hidden/shown*/

.hidden {
   display: none;
    }
.shown {
   display: block;
    }
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #007bff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar {
	border-bottom: 5px solid #88dbdf;
	margin-bottom: 20px;
}