@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Fira Sans' !important;
}

/*remove round corners everywhere*/
/** {
  border-radius: 0 !important;
}*/

header {
    flex: 0 0 auto;
}

.main-content{
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    left: 0;
    right: 0;
    margin-top: 20px;
}


.card {
    overflow: visible;
    margin-bottom: 20px;
}

a {
    /*color: #88dbdf;*/
    /*color: #3b89ad;*/
    color: #1796d1;
}
.help-block {
	font-size: 0.9em;
}
.create-label {
	font-weight: 700;
}
.control-label {
    font-weight: 700;
}

/* override select2 css for select FK and select M2M */

.select2 {
  width: 100% !important; /* overrides computed width */
}
.select2-container--default .select2-selection--single {
    height: 38px !important;
}
#div_id_top_concept > label {
    font-weight: 700;
}


#workflow > img {
   display: block;
   margin: auto auto;
   width: 80%;
}

#main_accordion > .panel >.panel-heading {
  margin: 15px 15px 15px 15px;
}
textarea {
  height: 38px;
}

/*fixing the height of select2multiple field, overring fundament*/
.modelselect2multiple, .select2multiple {
  padding: 0;
}