{% extends "browsing/create_base_template.html" %}
{% block title %}
    Create/Edit {{ class_name }}
{% endblock %}
{% block objectType %}
    <h1>
    {% if object %}
    Edit
    {% else %}
    Create
    {% endif %}
        {% if docstring %}
            <abbr title="{{ docstring}}">{{ class_name }}</abbr>
            {% if object.pref_label %}<b>{{object.pref_label}}</b>
            {% elif object.title %}<b>{{object.title}}</b>
            {% elif object.name %}<b>{{object.name}}</b>
            {% else %}
            {% endif %}
        {% else %}
            {{ class_name }}
        {% endif %}
    </h1>
{% endblock %}
