{% load static %}
<footer class="main-footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-md-1 pl-0">
                    <a href="https://www.oeaw.ac.at/acdh/acdh-home/" target="_blank" rel="noopener"
                        aria-label="ACDH">
                        <img src="{% static 'webpage/img/acdh_logo.png' %}" alt="ACDH"
                            title="Austrian Centre for Digital Humanities" />
                    </a>
                </div>
                <div class="col-md-4">
                    <p>
                        ACDH-OeAW
                        <br>
                        Austrian Centre for Digital Humanities
                        <br>
                        Austrian Academy of Sciences
                    </p>
                    <p>
                        Sonnenfelsgasse 19,
                        <br>
                        1010 Vienna
                    </p>
                    <p>
                        T: +43 1 51581-2200
                        <br>
                        E: acdh(at)oeaw.ac.at</a>
                    </p>
                    <p>
                        <a href=""></a>Imprint
                    </p>
                </div>
                <div class="col-md-3 ml-auto">
                    <h3>HELPDESK</h3>
                    <p>ACDH runs a helpdesk offering advice for questions related to various digital humanities
                        topics.</p>
                    <p><a class="helpdesk-button" href="mailto:acdh-helpdesk@oeaw.ac.at">ASK US!</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>