{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Title %}Edit Places{% endblock %}

{% block scriptHeader %}
<!-- In case you are using any autocomplete-functions, don´t forget to
include 'autocomplete_light/static.html
-->
<!--leafletjs -->
<link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}" />
<script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
<style>
#map { height: 500px; }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="card procustom-panel-create">
        <div class="card-header procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'entities:alternativename_detail' pk=object.get_prev %}">
                            <i class="fas fa-chevron-left" title="previous"></i>
                        </a>
                    </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small>alternative name:</small> {{ object.name }}
                        {% if user.is_authenticated %}
                        <small>
                        <a href="{% url 'entities:alternativename_edit' pk=object.id %}">
                            <i class="far fa-edit" title="edit"></i>
                        </a>
                        </small>
                        |
                        <small>
                        <a href="{% url 'entities:alternativename_delete' pk=object.id %}">
                            <i class="far fa-trash-alt" title="delete"></i>
                            </a>
                        </small>
                    {% endif %}
                </h1>
            </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'entities:alternativename_detail' pk=object.get_next %}" style="float:right">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
                <legend>About</legend>
                <table class="table table-bordered table-hover">
                <tr>
                    <th>related places</th>
                    <td>
                        <ul>
                            {% for x in object.related_places.all %}
                            {% if x.id %}
                            <li><a href="{% url 'entities:place_detail' pk=x.id %}">{{ x }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        <!--change history collapse button-->
        {% if user.is_authenticated %}
        {% if history %}
        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#changeHistory" aria-expanded="false" aria-controls="changeHistory">
        Change history
        </button>
        <div class="collapse" id="changeHistory">
            <div class="card card-body">
                   {% for x in history %}
                    <li>
                   {{ x.revision.date_created }} changed by {{ x.revision.user }} 
                   </li>
                   {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        <!--change history ends here-->                
    </div>
</div>
</div>
{% endblock %}
