{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">About the ACDH Vocabularies Editor</h1>
        </div>
        <div class="card-body">
            <div style="text-align: justify;">
                <p>
                   The purpose of the ACDH Vocabularies Editor is to provide a service for <strong>collaborative work on controlled vocabularies</strong> development.
                </p>
                <p>
                   The editor follows the <strong>SKOS</strong> data model for the main elements of a vocabulary. The <strong>Dublin core</strong> schema is used to capture the metadata (such as date created, date modified, creator, contributor, source and other) about each element. Each concept scheme can be downloaded in <strong>RDF/XML</strong> and <strong>Turtle</strong> format as well as each individual concept.
                </p>
                <p>
                    The <strong>user management</strong> system allows a user to share a concept scheme she/he created with other users (called 'curators') to create new, edit and delete concepts and collections within this concept scheme. Each user can find a summary of their latest activity on user's page.

                </p>
            </div>
            <div id="workflow">
                <h2>The workflow</h2>
                <br>
                <img src="{% static 'webpage/img/workflow.png' %}">
            </div>
        </div>
    </div>
</div>
{% endblock %}
