{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
    <div class="container">
        <div class="jumbotron" style="background-image: url({% static 'webpage/img/project_background.jpg' %}) ">           
                <h1 style="text-align:center; color: #111;">{% projects_metadata 'title' %}</h1>
                <h3 style="text-align:center; color: #111;">{% projects_metadata 'subtitle' %}</h3>
                <h5 style="text-align:center; color: #111;">{% projects_metadata 'description' %}</h3>
        </div>
    </div>
{% endblock %}
