{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
    <div class="container">
        <div class="jumbotron" style="text-align:center; color: #111;">           
            <h1>{% projects_metadata 'title' %}</h1>
            <h3>{% projects_metadata 'subtitle' %}</h3>
            <h5>{% projects_metadata 'description' %}</h5>
            {% if user.is_authenticated %}
                <div class="index-btn-group">
                    <a class ="btn btn-outline-secondary btn-lg index-btn"  href="{% url 'vocabs:skosconceptscheme_create' %}">
                    Create Concept Scheme
                    </a>
                    <a class ="btn btn-outline-secondary btn-lg index-btn" href="{% url 'vocabs:import' %}">
                    Import SKOS vocabulary
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
