{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Hello, {{ object}} {% endblock %}

{% block content %}
<div class="container">
    <div class="card">
    	<div class="card-header">
    	<h1>Hello,  {{ object }}</h1>
    	</div>
    	<div class="card-body">
	        {% if versions %}
	        <h2>List of latest changes ({{versions|length}})</h2>
	        {% for x in versions %}
	            <li>
	                <a href="{{ x.object.get_absolute_url }}">{{ x.revision.date_created }} {{ x }}</a>
	            </li>
	        {% endfor %}
	        <br>
	        {% endif %}

	        {% if created_cs %}
	        <h2>Created skos:ConceptScheme ({{created_cs|length}})</h2>
	        {% for y in created_cs %}
	            <li>
	                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
	                {% if y.curator.all %}
	                <br>
	                You share this Concept scheme with the following user(s):
	                {% for i in y.curator.all %}
	                {% if forloop.last %}
				        {{ i }}
				    {% else %}
				        {{ i }},
				    {% endif %}
	                {% endfor %}
	                {% endif %}
	            </li>
	        {% endfor %}
	        <br>
	        {% endif %}

	        {% if curated_cs %}
	        <h2>Curated skos:ConceptScheme ({{curated_cs|length}})</h2>
	        {% for y in curated_cs %}
	            <li>
	                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
	                <br>
	                This Concept Scheme is shared with you by the following user: {{y.created_by}}
	            </li>
	        {% endfor %}
	        <br>
	        {% endif %}

			{% if created_collections %}
	        <h2>Created skos:Collection ({{created_collections|length}})</h2>
	        {% for y in created_collections %}
	            <li>
	                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
	            </li>
	        {% endfor %}
	        <br>
	        {% endif %}

			{% if created_concepts %}
	        <h2>Created skos:Concepts ({{created_concepts|length}})</h2>
	        {% for y in created_concepts %}
	            <li>
	                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
	            </li>
	        {% endfor %}
	        <br>
	        {% endif %}

			{% if created_labels %}
	        <h2>Created Labels ({{created_labels|length}})</h2>
	        {% for y in created_labels %}
	            <li>
	                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
	            </li>
	        {% endfor %}
	        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}