{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %} Hello, {{ object}} {% endblock %}

{% block content %}
<div class="container">
    <div class="card">
    	<div class="card-header">
    	<h1>Hello,  {% if object.first_name %}
    	{{ object.first_name }}
    	{% else %}
    	{{ object }}
    	{% endif %}</h1>
    	</div>
    	<div class="card-body">
    	<p><b>Date registered:</b> {{object.date_joined}}</p>
    	<p><b>Last login:</b> {{object.last_login}}</p>
	        {% if versions %}
	        <h2>Activity</h2>
			{% if versions|length > 10 %}
	        <p>Latest changes: 10 out of {{versions|length}}</p>
	        {% else %}
	        <p>Latest changes: {{versions|length}} out of {{versions|length}}</p>
	        {% endif %}


	        {% for x in versions|slice:":10" %}
	            <li>
	            {% if x.object %}
	                <a href="{{ x.object.get_absolute_url }}">
	                {{ x.revision.date_created }} {{ x }}</a>
	            {% else %}
	                {{ x.revision.date_created }} {{ x }}
				{% endif %}
	            </li>
	        {% endfor %}
	        <br>
	        {% endif %}


			<div class="accordion" id="accordionExample">

	        {% if created_cs %}

	        <div class="card card-collapse">
		    <div class="card-header" id="headingOne">
		      <h5 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		          <h5>Created skos:ConceptScheme ({{created_cs|length}})</h5>
		        </button>
		      </h5>
		    </div>
			<div id="collapseOne" class="collapse" aria-labelledby="headingOne">
      			<div class="card-body">
	        
		        {% for y in created_cs %}
		            <li>
		                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
		                {% if y.curator.all %}
		                <br>
		                You share this Concept scheme with the following user(s):
		                {% for i in y.curator.all %}
		                {% if forloop.last %}
					        {{ i }}
					    {% else %}
					        {{ i }},
					    {% endif %}
		                {% endfor %}
		                {% endif %}
		            </li>
		        {% endfor %}

	            </div>
		    </div>
		  	</div>

	        {% endif %}


	        {% if curated_cs %}

	        <div class="card card-collapse">
		    <div class="card-header" id="headingTwo">
		      <h5 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		           <h5>Curated skos:ConceptScheme ({{curated_cs|length}})</h5>
		        </button>
		      </h5>
		    </div>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
		      	<div class="card-body">
       
		        {% for y in curated_cs %}
		            <li>
		                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
		                <br>
		                This Concept Scheme has been shared with you by the following user: {{y.created_by}}
		            </li>
		        {% endfor %}

	        	</div>
			</div>
			</div>

	        {% endif %}


			{% if created_collections %}

			 <div class="card card-collapse">
			    <div class="card-header" id="headingThree">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          <h5>Created skos:Collection ({{created_collections|length}})</h5>
			        </button>
			      </h5>
			    </div>
			   <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
			      <div class="card-body">

	        
		        {% for y in created_collections %}
		            <li>
		                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
		            </li>
		        {% endfor %}

	            </div>
		    	</div>
		  	</div>

	        {% endif %}


			{% if created_concepts %}

			 <div class="card card-collapse">
			    <div class="card-header" id="headingFour">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          <h5>Created skos:Concepts ({{created_concepts|length}})</h5>
			        </button>
			      </h5>
			    </div>
			    <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
			      <div class="card-body">
	        
			        {% for y in created_concepts %}
			            <li>
			                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
			            </li>
			        {% endfor %}

			    	</div>
		    	</div>
		  	</div>

	        {% endif %}

			</div><!--accordion ends-->
        </div><!--card-body ends-->
    </div>
</div>
{% endblock content %}